/* --- UTILITY CLASSES --- */
/* Hide an element visually, but remain accessible to screenreaders */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* --- GLOBAL STYLES --- */
body {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 200vh;
}

li {
  list-style-type: none;
}

/* --- CONTAINER --- */
.container {
  max-width: 70rem;
  margin-inline: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* --- NAVIGATION --- */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.25rem 0;
}

nav ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* width: 33.33%; */
}

nav a {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(227, 227, 227);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
}

nav a:focus-visible {
  font-weight: bold;
}

/* --- ABOUT --- */
#about {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding-bottom: 1.5rem;
}

#about h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
}

#about p {
  font-size: 1.05rem;
  padding: 1.5rem 0;
}

/* --- BUTTONS --- */
.btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: #06c;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  border-radius: 15px;
  background-color: #007af5;
}

.btn .hover {
  display: none;
}

/* --- MEDIA QUERIES --- */
@media only screen and (min-width: 64em) {
  nav ul {
    gap: 3.5rem;
  }
}
